name: CI (Lint and Build Check)

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main, dev]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Lint Check
        run: npm run lint

      - name: Build Check
        run: npm run build
